section {
  padding-left: 100px;
  padding-right: 100px;
}
header {
  display: flex;
  justify-content: space-between;
}
.top {
  background-color: #1f2937;
  display: flex;
  flex-direction: column;
}
.links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
}
a {
  text-decoration: none;
}
.mainContent {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 50px;
}
.text {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: flex-start;
  justify-content: center;
}
.infoSection {
  display: flex;
  flex-direction: column;
}
.quote {
  background-color: #e5e7eb;
  display: flex;
}
.callToAction {
  display: flex;
}
.bottom {
  background-color: #1f2937;
  display: flex;
  justify-content: center;
  color: #f9faf8;
}
.coconutImage {
  width: 200px;
  flex: 1;
}
.primaryColor {
  color: #f9faf8;
}
.secondaryColor {
  color: #e5e7eb;
}
button {
  background-color: #3882f6;
  color: white;
  border-radius: 5px;
  border: none;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.randomInfo {
  display: flex;
  justify-content: center;
  flex: 1;
  color: #1f2937;
}
.allItems {
  display: flex;
  gap: 16px;
}
.allItems img {
  width: 150px;
  height: 150px;
  border-radius: 10px;
  background-size: cover;
  background-position: 50% 50%;
  border: 2px solid #3882f6;
}
.quote p {
  font-size: 30px;
  font-style: italic;
  font-family: "Courier New", Courier, monospace;
  color: rgb(71, 71, 71);
  display: flex;
  justify-content: center;
}
.quote h4 {
  display: flex;
  flex: 1;
  padding-top: 60px;
}
.bluebox {
  background-color: #3882f6;
  display: flex;
  padding: 10px;
  border-radius: 5px;
  margin: 100px 100px;
  color: white;
  flex: 1;
  height: 150px;
  padding-bottom: 25px;
}
.divAction {
  display: flex;
  padding-left: 45px;
}
.divEndInfo {
  display: flex;
  padding-left: 45px;
}
.endButton {
  display: flex;
  border: white 2px solid;
  font-size: 16px;
  border-radius: 5px;
  text-align: center;
  align-self: flex-end;
}
.box2 {
  display: flex;
  flex-direction: column;
}
